body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    margin-right: 2em;
    margin-top: 1em;
    
}

header ul {
    display: flex;
}

header li {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 2em;
    text-decoration: none;
    color: black;
    font-size: large;
    color: white;
}

nav a:hover {
    color: #30ac00;
}


@keyframes animback {
    33% {background: url("banaccueil.jpg") top left / 100% 100% ; background-size: cover; background-repeat: no-repeat; background-position: center;}
    100% {background: url("banaccueil2.jpg") top left / 100% 100% ; background-size: cover; background-repeat: no-repeat; background-position: center; transform: scale(1.1);}
}



#banaccueil {
    background-image: url("banaccueil.jpg") 100% 100%;
    animation:animback 5s infinite ;
    background-color: black;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


footer {
    color: white;
    font-weight: lighter;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
    padding-top: 100px;
}

#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video div {
    margin: 50px;
}

#photo img {
    margin: 50px;
    justify-content: space-around;
    width: 500px;
    height: 250px;
}

h1 {
    color: white;
    padding: 50px;
    padding-top: 150px;
}

a {
    padding: 50px;
    padding-top: 0px;
    color: #30ac00;
    text-decoration: none;
}

.contenu:hover {
    text-decoration: underline;
}

.contenu {
    margin-top: 100px;
}

.zoom:hover {
    transform: scale(1.2);
}

.zoom {
    transform: scale(.3s);
    object-fit: cover;
    object-position: center;
}


#live {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

#banlive {
    background-image: url("banlive.jpg");
    background-color: black;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.grid-wrapper img {
    width: 500px;
    height: 250px;
}

.conteneur {
    text-align: center;
}

